html{
   background: url(../images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Helvetica Neva',sans-serif;
}

.box{
	width:400px;
	height:430px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.pic{
	border-radius:50%;
	height: 200px;
	width: 200px;
}

h1{
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
}

.social{
	font-size: 40px;
}

.social a{
	color: white;
}

.line{
	width: 400px;
	margin: 0 auto;
	 border-top: 1px solid white;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}